services/artifact-api/Dockerfile
services/artifact-api/node_modules/
services/build-api/vendor/
services/build-api/Dockerfile
services/user-api/node_modules/
services/user-api/Dockerfile
services/front/Dockerfile
services/node_modules/
services/runner-api/node_modules/
services/runner-consumer/node_modules/
services/runner-gc/node_modules/
services/docker-events/
.git/
.idea/
docker/
